Repository tylrs/fitlit-optionA, pull requests merged in 2021-06, with the labels that each got.

#39 Refactor/dom show info
  dist/index.html
  src/scripts.js
Labels: DOM

#48 Feature/post dom
  dist/index.html
  src/apiCalls.js
  src/css/styles.scss
  src/scripts.js
Labels: DOM, JavaScript

#57 Feature/build dom updates
  src/UserRepository.js
  src/domUpdates.js
  src/scripts.js
Labels: DOM

#60 Utilize SCSS partial files and DRY up CSS
  dist/index.html
  src/css-DELETE/base-DELETE.scss
  src/css-DELETE/styles-DELETE.scss
  src/domUpdates.js
  src/sass/_base.scss
  src/sass/_buttons.scss
  src/sass/_helpers.scss
  src/sass/_icons.scss
  src/sass/_normalize.scss
  src/sass/_text-elements.scss
  src/sass/_variables.scss
  src/sass/index.scss
  src/scripts.js
Labels: CSS, Refactor

#49 Refactoring User and UserRepo Classes and tests
  src/Activity.js
  src/Hydration.js
  src/Necessity.js
  src/Sleep.js
  src/User.js
  src/UserRepository.js
  src/scripts.js
  test/Activity-test.js
  test/Hydration-test.js
  test/Sleep-test.js
  test/User-test.js
  test/UserRepository-test.js
  test/sampleData.js
Labels: Refactor, User Class, UserRepository Class

#66 Fix/hydration card
  dist/index.html
  src/User.js
  src/UserRepository.js
  src/scripts.js
  test/User-test.js
Labels: bug

#64 Add responsiveness, mixins, and nesting to SCSS
  src/sass/_base.scss
  src/sass/_desktop-query.scss
  src/sass/_header.scss
  src/sass/_main.scss
  src/sass/_variables.scss
  src/sass/index.scss
Labels: CSS, enhancement

#65 Slight refactoring & more developer empathy
  src/UserRepository.js
  src/scripts.js
Labels: JavaScript, Refactor

#67 Refactor find best quality sleepers WEEK
  src/User.js
  src/UserRepository.js
  test/UserRepository-test.js
Labels: JavaScript, Refactor, User Class, UserRepository Class, bug

#69 Refactor/general refactor
  src/Activity.js
  src/Hydration.js
  src/Necessity.js
  src/Sleep.js
  src/User.js
  src/UserRepository.js
  src/css-DELETE/base-DELETE.scss
  src/css-DELETE/styles-DELETE.scss
  src/data/activity.js
  src/data/hydration.js
  src/data/sleep.js
  src/data/users.js
  src/domUpdates.js
  src/index-DELETE.js
  src/scripts.js
  test/Activity-test.js
  test/Hydration-test.js
  test/Sleep-test.js
  test/User-test.js
  test/UserRepository-test.js
Labels: bug
